<!doctype html>
<html ng-app="listaTelefonica">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
    <title>AngularJS</title>
    <script src="./Angularjs/angular.js"></script>
    <script>
       angular.module("listaTelefonica", []);
       angular.module("listaTelefonica").controller("listaController", function($scope){
            $scope.app = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Pedro", telefone: "99999999"},
                {nome: "Ana", telefone: "88888888"},
                {nome: "Maria", telefone: "15616666"},
            ];
            $scope.Adicionar = function(contato){
                //1- $scope.contatos.push({nome:$scope.nome, telefone:$scope.telefone});
                //2- $scope.contatos.push({nome: nome, telefone: telefone}); -obs: com nome e telefone no parametro
                $scope.contatos.push(contato);
                delete $scope.contato;
            }
            $scope.operadoras = [
                {nome: "Oi", codigo: 14},
                {nome: "Vivo", codigo: 89},
                {nome: "Tim", codigo: 15}
            ];
       });
    </script>
    <style>
        .jumbotron{
            width: 400px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
  </head>
  <body ng-controller="listaController">
    <!-- ng-app -->
    <!-- ng-controller  = Vincula um elemento da View ao controller -->
    <!-- ng-bing        = Substituindo o elemento por uma expressão -->
    <!-- ng-repeat      = Itenrando sobre uma coleção ou de um objeto -->
    <!-- ng-model       = Vincula uma propriedade ao escopo -->
    <!-- ng-click       = Atribuindo um comportamento ao evento -->
    <!-- ng-disabled    = Desabilita um elemento dinamicamente -->
    <!-- ng-options     = Renderiza as opções de um select -->
    <div class="jumbotron">
        <h4 ng-bind="app" class="text-center"></h4>
        <!-- {{app}} -->
        <table class="table table-stripped">
            <thead class="table-dark">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contato in contatos">
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <input type="text" class="form-control mb-2" ng-model="contato.nome">
        <input type="text" class="form-control mb-2" ng-model="contato.telefone">
        <select class="form-control mb-2" name="contato" ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary  mb-2" ng-click="Adicionar(contato)" ng-disabled="!contato.nome || !contato.telefone">Adicionar Contato</button>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>